<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand text-uppercase" href="index.html">
      <strong>Contact</strong> App
    </a>
  </div>
</nav>
